[submodule "docs/ISO-20022"]
	path = docs/ISO-20022
	url = https://github.com/chris-day/ISO-20022
[submodule "docs/uml2semantics-python"]
	path = docs/uml2semantics-python
	url = https://github.com/chris-day/uml2semantics-python
[submodule "docs/iso20022-ecore"]
	path = docs/iso20022-ecore
	url = https://github.com/chris-day/iso20022-ecore
[submodule "docs/ontoportal-api"]
	path = docs/ontoportal-api
	url = https://github.com/chris-day/ontoportal-api
[submodule "docs/owl2vault"]
	path = docs/owl2vault
	url = https://github.com/chris-day/owl2vault
